@model JaunDetect.Models.CustomQueryViewModel

@{
    ViewBag.Title = "Custom Query Tool";
}

<h3>@ViewBag.Message</h3>

<div class=" container">
    @using (Html.BeginForm("CustomQuery", "Home", FormMethod.Post))
    {
        <div class="row">
            <h5> Clinic Name </h5>
            @Html.TextBoxFor(model => model.ClinicName)
            @Html.ValidationMessageFor(model => model.ClinicName)
        </div>

        <div class="row">
            <h5> Province </h5>
            @Html.TextBoxFor(model => model.Province)
            @Html.ValidationMessageFor(model => model.Province)
        </div>

        <div class="row">
            <h5> Start Time </h5>
            @Html.TextBoxFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)

        </div>

        <div class="row">
            <h5> End Time </h5>
            @Html.TextBoxFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>

        <div class="row">
            <h5> Device Info </h5>
            @Html.TextBoxFor(model => model.Device)
            @Html.ValidationMessageFor(model => model.Device)
        </div>

        <input type="submit" />

    }
</div>

<div class="border border-dark rounded">
    <table>
        <thead>
            <tr>
                <th scope="col">Clinic Name</th>
              
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.ClinicName.Equals("example"))
                { 
            <tr>
                <td>@Model.ClinicName</td>

                <td>@Model.Province</td>

                <td>@Model.Device</td>
            </tr>
                   
                }
            }
        </tbody>
    </table>
</div>

