@using JaunDetect.Models;
@model QueryViewModel

@*Displays the custom query page using the Query View Model*@
@{
    ViewBag.Title = "Query";
}

<head>
    @*link for the Awesome icons used in the failed photo column*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*style for the database table*@
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col text-center">
            <div class="col-md-5 p-1 mx-auto my-3">
                <h2 class="display-6 font-weight-normal">Custom Query</h2>
            </div>
        </div>
    </div>

    @*advanced search and data visualization buttons*@
    <div class="row">
        <div class="col text-left">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#query">Advanced Search</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#dataVis">Visualize Data</button>
        </div>
    </div>

    <div class="row mt-2">
        <div id="query" class="col collapse">
            @using (Html.BeginForm("QueryResults", "Home", FormMethod.Post))
            {
                @*text boxes containing the user queries*@
                <div class="btn-group row" role="group">
                    <div class="col btn-group-vertical">
                        <p><b> Clinic </b></p>
                        @Html.TextBoxFor(model => model.UserInputClinic, new { @style = "margin-top:-5 px; margin-bottom:5 px" })
                        <p><b> Province </b></p>
                        @Html.TextBoxFor(model => model.UserInputProvince, new { @style = "margin-top:-5 px; margin-bottom:5 px" })
                    </div>

                    <div class="col btn-group-vertical">
                        <p><b> Start Date </b></p>
                        @Html.TextBoxFor(model => model.UserInputStartDate, new { @style = "margin-top:-5 px; margin-bottom:5 px" })                       
                        <p><b> End Date </b></p>
                        @Html.TextBoxFor(model => model.UserInputEndDate, new {@style = "margin-top:-5 px; margin-bottom:5 px" })
                    </div>
                    <div class="col btn-group-vertical">
                        <p><b> Device </b></p>
                        @Html.TextBoxFor(model => model.UserInputDevice, new { @style = "margin-top:-5 px; margin-bottom:5 px" })
                    </div>
                </div>
                @*submit button*@
                <p>
                    <button type="submit" class="btn btn-primary" align="right" width="48" height="48">Submit</button>
                </p>
            }
        </div>

        @*elements of the data visualization tool*@
        <div id="dataVis" class="col collapse text-right">
            @using (Html.BeginForm("ChartView", "Chart", FormMethod.Post))
            {
                <div class="btn-group row" role="group">
                    <div class="col btn-group-vertical">
                        <p><b> Visualization type? </b></p>
                        <div class="d-inline">
                            @Html.RadioButtonFor(model => model.VisualizationChoice, 1, false)
                            @Html.Label("Line")
                        </div>
                        <div class="d-inline">
                            @Html.RadioButtonFor(model => model.VisualizationChoice, 2, false)
                            @Html.Label("Bar")
                        </div>
                        <div class="d-inline">
                            @Html.RadioButtonFor(model => model.VisualizationChoice, 3, false)
                            @Html.Label("Pie")
                        </div>
                        <button type="submit" class="btn btn-primary" align="right" width="48" height="48">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>

    @*database table*@
    <div class="row border border-dark rounded">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th scope="col"><strong style="padding-right: 50px">           </strong></th>
                        <th scope="col"><strong style="padding-right: 120px">Clinic Name</strong></th>
                        <th scope="col"><strong style="padding-right: 75px">Province</strong></th>
                        <th scope="col"><strong style="padding-right: 100px"> Date</strong></th>
                        <th scope="col"><strong style="padding-right: 100px">Device</strong></th>
                        <th scope="col"><strong style="padding-right: 50px">Bilirubin Concentration</strong></th>
                        <th scope="col"><strong style="padding-right: 125px">Device OS</strong></th>
                        <th scope="col"><strong> Successful Photo Upload</strong></th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        for (int i = 0; i < Model.RecordList.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1) </th>
                                <td style="white-space:pre">@(Model.RecordList[i].Clinic)</td>
                                <td style="white-space:pre">@(Model.RecordList[i].Province)</td>
                                <td style="white-space:pre">@(Model.RecordList[i].Date)</td>
                                <td style="white-space:pre">@(Model.RecordList[i].Device)</td>
                                <td style="white-space:pre">@(Model.RecordList[i].BiliConcentration)</td>
                                <td style="white-space:pre">@(Model.RecordList[i].DeviceOS)</td>
                                @*displays the photo if the photo upload has failed*@
                                @{ if (Model.RecordList[i].FailedPhoto)
                                    {
                                        <td>
                                            <i class="fa fa-close" style="font-size:24px; color:red"></i>
                                            <a href="@Url.Content(Model.RecordList[i].Photo)" target="_blank" style="font-size: 12px">View Photo</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <i class="fa fa-check" style="font-size:24px;color:green"></i>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</body>