@using JaunDetect.Models;
@model QueryViewModel

@{
    ViewBag.Title = "Query";
}
<h3>@ViewBag.Message</h3>

<div class=" container">
    <div class="row">
        <div class="row">
            <div>
                @using (Html.BeginForm("QueryResults", "Home", FormMethod.Post))
                {
                    <p> Clinic </p>
                    @Html.TextBoxFor(model => model.Clinic)
                    <p> Province </p>
                    @Html.TextBoxFor(model => model.Province)
                    <p> Date </p>
                    @Html.TextBoxFor(model => model.Date)
                    <p> Device </p>
                    @Html.TextBoxFor(model => model.Device)
                    <button type="submit" >Submit</button>      
                }
            </div>
           <br />
        </div>
     </div>
</div>
    