@using JaunDetect.Models;
@model ResourcesChartModel

<div class="row">
    <div class="col text-center">
        <div class="col-md-5 p-1 mx-auto my-3">
            <h2 class="display-6 font-weight-normal">Resources</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="row">
                <img src="/Home/GetTestStripUsageChart" class="img-fluid rounded" />
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <p>Current price of test strip:</p>
                        @using (Html.BeginForm("UpdatePrice", "Home", FormMethod.Post))
                        {
                            @Html.TextBoxFor(model => model.TestStripPrice)
                            <button type="submit">Update</button>
                        }
                    </div>

                    <div class="row border border-dark rounded w-75 text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Clinic</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Clinics.Count() == Model.TestStripCosts.Count())
                                    {
                                        for (int i = 0; i < Model.Clinics.Count(); i++)
                                        {
                                            <tr>
                                                <td>@Model.Clinics[i]</td>
                                                <td>$@Model.TestStripCosts[i]</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <div class="col">

            <div class="row">
                <img src="/Home/GetHospitalPatientChart" class="img-fluid rounded" />
            </div>

            <div class="row border border-dark rounded w-75 text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Clinic</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Clinics.Count() == Model.HospitalPatients.Count())
                            {
                                for (int i = 0; i < Model.Clinics.Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.Clinics[i]</td>
                                        <td>@Model.HospitalPatients[i]</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col">
            <img src="/Home/GetClinicWorkersChart" class="img-fluid rounded" />
        </div>

        <div class="col">
            <div class="row">
                <p>Current price of test strip:</p>
                @using (Html.BeginForm("UpdateSalary", "Home", FormMethod.Post))
                {
                    @Html.TextBoxFor(model => model.WorkerSalary)
                    <button type="submit">Update</button>
                }
            </div>

            <div class="row border border-dark rounded w-75 text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Clinic</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Clinics.Count() == Model.ClinicWorkers.Count())
                            {
                                for (int i = 0; i < Model.Clinics.Count(); i++)
                                {
                                    <tr>
                                        <td>@Model.Clinics[i]</td>
                                        <td>$@Model.SalaryCosts[i]</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

</div>
    
