@using JaunDetect.Models;
@model ResourcesChartModel

<!--For Chart.js charts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


<body class="text-white" style="background-color: #03012C">

    <div class="container body-content">
        <div class="row">
            <div class="col text-center">
                <div class=""col-md-5 pt-4 py-2 mx-auto my-3"">
                    <h2 class="display-6 font-weight-normal">Resources</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column">

                <div class="text-center pb-2">
                    <h4>Test Strip Usage per Month</h4>
                </div>

                <div class="flex-grow-1">
                    <!-- BAR CHART -->
                    <canvas id="TestStripUsages"></canvas>
                </div>

                <div class="row mb-3 mx-auto">
                    <p class="pr-2">Price of test strip:</p>
                    @using (Html.BeginForm("UpdatePrice", "Home", FormMethod.Post))
                    {
                        @Html.TextBoxFor(model => model.TestStripPrice, new { Class = "form-control w-50 d-inline" })
                        <button id="UpdatePriceButton" type="submit" class="btn btn-outline-light d-inline align-top">Update</button>
                    }
                </div>

                <div class="row border border-white rounded w-75 text-center mx-auto">
                    <h6 class="mx-auto p-2">Resources used this month by clinic</h6>
                    <table class="table text-white">
                        <tbody>
                            @try
                            {
                                if (Model.Clinics.Count() == Model.TestStripCosts.Count())
                                {
                                    for (int i = 0; i < Model.Clinics.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.Clinics[i]</td>
                                            <td>$@Model.TestStripCosts[i]</td>
                                        </tr>
                                    }
                                }
                            }
                            catch { };
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col d-flex flex-column">

                <div class="text-center pb-2">
                    <h4 class="pb-2">High-Bilirubin Cases by Clinic</h4>
                </div>

                <div class="flex-grow-1 pb-2">
                    <!-- BAR CHART -->
                    <canvas id="HospitalPatients"></canvas>
                </div>

                <div class="border border-white rounded w-75 text-center mx-auto">
                    <h6 class="mx-auto p-2">Clinics that send the most patients to in-area hospitals</h6>
                    <table class="table text-white">
                        <tbody>
                            @try
                            {
                                if (Model.Clinics.Count() == Model.HospitalPatients.Count())
                                {
                                    for (int i = 0; i < Model.Clinics.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.Clinics[i]</td>
                                            <td>@Model.HospitalPatients[i]</td>
                                        </tr>
                                    }
                                }
                            }
                            catch { };
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="row justify-content-center mt-5">
            <div class="text-center pb-2">
                <h4 class="pb-2">High-Bilirubin Cases by Clinic</h4>
            </div>
        </div>


        <div class="row mt-5 d-flex flex-row">

            <div class="col">
                <canvas id="ClinicWorkers"></canvas>
            </div>

            <div class="col d-flex flex-column">

                <div class="mb-3 mx-auto">
                    <p class="pr-2 d-inline">Current per-hour salary:</p>
                    @using (Html.BeginForm("UpdateSalary", "Home", FormMethod.Post))
                    {
                        @Html.TextBoxFor(model => model.WorkerSalary, new { Class = "form-control w-50 d-inline" })
                        <button id="UpdateSalaryButton" type="submit" class="btn btn-outline-light d-inline align-top">Update</button>
                    }
                </div>
                <div class="border border-white rounded w-75 text-center mx-auto">
                    <h6 class="mx-auto p-2">Resources used this month by clinic</h6>
                    <table class="table text-white">
                        <tbody>
                            @try
                            {
                                if (Model.Clinics.Count() == Model.ClinicWorkers.Count())
                                {
                                    for (int i = 0; i < Model.Clinics.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Model.Clinics[i]</td>
                                            <td>$@Model.SalaryCosts[i]</td>
                                        </tr>
                                    }
                                }
                            }
                            catch { };
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </div>
</body>

<script>
    // Set all chart font to white
    Chart.defaults.global.defaultFontColor = 'white';

    // Test Strip Usage per Month
    $.ajax({
        type: "POST",
        url: "/Home/GetTestStripUsageChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#TestStripUsages").get(0).getContext("2d");

            //Chart.defaults.global.defaultFontColor = 'white';

            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    // High-Bilirubin Cases by Clinic
    $.ajax({
        type: "POST",
        url: "/Home/GetHospitalPatientChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Test strips used",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#HospitalPatients").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'doughnut',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: true, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: false, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });

    //High-Bilirubin Cases by Clinic
    $.ajax({
        type: "POST",
        url: "/Home/GetClinicWorkersChart",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var aData = chData;
            var aLabels = aData[0];
            var aDatasets1 = aData[1];
            var dataT = {
                labels: aLabels,
                datasets: [{
                    label: "Clinic workers",
                    data: aDatasets1,
                    fill: false,
                    backgroundColor: ["rgba(112, 44, 231, 0.5)", "rgba(144, 44, 199, 0.5)", "rgba(176, 44, 167, 0.5)", "rgba(208, 44, 135, 0.5)", "rgba(240, 44, 103, 0.5)"],
                    borderColor: ["rgba(112, 44, 231)", "rgba(144, 44, 199)", "rgba(176, 44, 167)", "rgba(208, 44, 135)", "rgba(240, 44, 103)"],
                    borderWidth: 2
                }]
            };
            var ctx = $("#ClinicWorkers").get(0).getContext("2d");
            var myNewChart = new Chart(ctx, {
                type: 'bar',
                data: dataT,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    title: { display: false, text: 'CHART.JS DEMO CHART' },
                    legend: { display: false, position: 'bottom' },
                    scales: {
                        xAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: true, labelString: '', } }],
                        yAxes: [{ gridLines: { display: false }, display: true, scaleLabel: { display: false, labelString: '' }, ticks: { beginAtZero: true, fontSize: 13 } }]
                    },
                }
            });
        }
    });
</script>