<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JaunDetect</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top justify-content-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav nav-tabs" id="navbarsExampleDefault">
            <a href="@Url.Action("Index", "Home")" class="nav-item nav-link active">Home</a>
            <a href="@Url.Action("UsageData", "Home")" class="nav-item nav-link active">Usage Data</a>
            <a href="@Url.Action("Resources", "Home")" class="nav-item nav-link active">Resources</a>
            <a href="@Url.Action("CrashReport", "Home")" class="nav-item nav-link active">Crash Report</a>
            <a href="@Url.Action("Photos", "Home")" class="nav-item nav-link active">Photos</a>
            <a href="@Url.Action("CustomQuery", "Home")" class="nav-item nav-link active">Custom Query</a>
            <a href="@Url.Action("QueryTemporary", "Home")" class="nav-item nav-link active">Query Temporary</a>

        </div>
    </nav>
  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JaunDetect</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
